{% extends 'base.html' %}
{% block content %}

<h2>Your Cart</h2>
{% if orders %}
  <table border="1" cellpadding="10">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td><img src="{{ order.utensil.image }}" width="80" alt="{{ order.utensil.name }}"></td>
        <td>{{ order.utensil.name }}</td>

        <td>
          <form action="{% url 'update_quantity' order.id %}" method="post" class="quantity-form">
            {% csrf_token %}

            {% if order.quantity > 1 %}
            <button type="submit" name="action" value="decrease">-</button>
            {% else %}
            <button type="submit" name="action" value="remove">🗑️</button>
            {% endif %}

            <span class="quantity">{{ order.quantity }}</span>

            <button type="submit" name="action" value="increase">+</button>
          </form>
        </td>

        <td>₹{{ order.utensil.price }}</td>
        <td>₹{{ order.total }}</td>
        <td>
          <a href="{% url 'remove_from_cart' order.id %}">Remove</a>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="4" align="right"><strong>Total:</strong></td>
      <td colspan="2">₹{{ total_price }}</td>
    </tr>
  </table>
  <br>
  <a href="{% url 'products' %}">Continue Shopping</a>
  <a href="{% url 'checkout' %}" class="btn">Checkout</a>
{% else %}
  <p>Your cart is empty. <a href="{% url 'products' %}">Shop Now</a></p>
{% endif %}

{% endblock %}
